.progress-card {
  margin: 0px 15px;
  width: 20%;
  transition: 0.3s;
  background: wheat;
  border-radius: 15px;
  padding: 10px;
  box-shadow:  5px 5px 10px #b8b8b8, 
             -5px -5px 10px #ffffff;
  border: none;
  background: #e6e6e6;
}

.img {
  width: 100%;
}

.progress-card h1 {
  text-align: center;
  font-size: 32px;
}

.progress-card:hover {
  transform: translateY(-5px);
}

.progress-containers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 35px;
  animation: rightToLeft 1.5s ease;
}

.stocks-and-cryptos {
  display: flex;
  justify-content: center;
  animation: rise 4.5s ease;
}

.news-container {
  width: 50%;
  margin: 50px;
}

.news-container h3, h2, .date {
  text-align: center;
}

.news-container .summary {
  margin: 10px 50px;
}

.stocks-container {
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 20px;
}

.cryptos-container {
  border-left: 1px solid black;
}

.news-div {
  text-align: center;
}

.stock-and-crypto-card {
  font-size: 15px;
  margin: 10px 15px;
  text-align: center;
}

.stock-card {
  margin: 10px;
  height: 100%;
  width: 100%;
  flex-basis: 100%;
  box-shadow:  5px 5px 10px #b8b8b8, 
             -5px -5px 10px #ffffff;
  border: none;
  background: #e6e6e6;
}

.stock-card:hover {
  margin: 10px;
  height: 100%;
  width: 100%;
  flex-basis: 100%;
  box-shadow: inset 5px 5px 10px #b8b8b8, 
              inset -5px -5px 10px #ffffff;
  border: none;
  background: #e6e6e6;
}

.stock-card-inverted {
  margin: 10px;
  height: 100%;
  width: 100%;
  flex-basis: 100%;
  box-shadow: inset 5px 5px 10px #b8b8b8, 
              inset -5px -5px 10px #ffffff;
  border: none;
  background: #e6e6e6;
}

.stock-card:hover {
  box-shadow: 0 5px 12px rgba(0,0,0,.5);

}

h2 {
  margin-top: 10px;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.ta-jumbotron-homepage {
  margin-top: 5px;
  padding: 5px;
  box-shadow: inset 5px 5px 10px #b8b8b8, 
              inset -5px -5px 10px #ffffff;
  color: #333;
  width: 50%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.ta-jumbotron-homepage p, hr {
  margin: 10px 30px;
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}