.ta-container {
  display: flex;
  justify-content: center;
  animation: drop 1.5s ease;
  overflow: hidden;
}

.chart-container {
  display: flex;
  justify-content: center;
  animation: rightToLeft 1.5s ease;
}

.ta-jumbotron {
  margin-top: 5px;
  box-shadow:  5px 5px 10px #b8b8b8, 
             -5px -5px 10px #ffffff;
  color: #333;
  width: 50%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.ta-jumbotron:hover {
  box-shadow: inset 5px 5px 10px #b8b8b8, 
              inset -5px -5px 10px #ffffff;
  color: #333;
  width: 50%;
  border-radius: 15px;
  margin-bottom: 15px;
}

.btn-new {
  border: 1px solid #4BB187;
  width: 10%;
  color: #4BB187;
  outline: none;
  margin-bottom: 5px;
}

.btn-graph {
  border: 1px solid #4BB187;
  width: 33%;
  color: #4BB187;
  outline: none;
}

.btn-new:hover {
  border: 1px solid #4BB187;
  color: #fff;
  background: #4BB187;
}

.ta-jumbotron p, hr {
  margin: 10px 30px;
}

.number-is-positive {
  color: #4BB187;
}

.number-is-negative {
  color: red;
}

.finance-cards {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.budget-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  animation: rise 4.5s ease;
}

#new-entry {
  align-self: center;
}

#bill {
  margin-left: 4px;
}