body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-nomore {
  color: #4BB187;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

.icon-click {
  cursor: pointer;
  size: 100px;
}

.icon-click:hover {
  cursor: pointer;
  color: #4BB187;
}

.arrow-down {
  padding-left: 4px;
  color: red;
}

.arrow-up {
  padding-left: 4px;
  color: green
}

.link {
  text-align: center;
}