.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  position: absolute;
  z-index: -1;
  height: 100%;
  /* background-image: url(../nav/2cents.png); */
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  height: 80px;
}

.login-jumbotron {
  /* background: rgba(2, 112, 146, 0.8); */
  background: #fff;
  box-shadow: 0 10px 28px rgba(0,0,0,.5);
  transition: 0.5s;
}

.login-jumbotron:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.input {
  border: none;
  border-bottom: 1px solid #121212;
  /* padding: 5px;
  margin: 2px; */
  border-radius: 0px;
  background: transparent;
}

.login-question {
  font-size: 14px;
}